*{
	font-family: "HelveticaNeueLTStd", sans-serif;
}


/* ---------- LANDING PAGE ----------- */

/*navbar-header*/

.header-menu-class{
	padding-left: 0;
}

.header-menu-class ul{
	list-style-type: none;
    list-style: none;
    list-style-image: none;
}

.header-menu-class li{
    display: inline;
    list-style: none;
}

.header-menu-class li a{
	font-size: 1.3em;
	color: #006D8F;
	padding: 4px 8px;
}

.header-menu-class li a:hover{
	color: #989898;
	text-decoration: none;
	transition: color 0.3s ease-out;
}

#myNavbar{
	padding-right: 0;
}


/* header */

.header-top{
	background-color: #fff;
	border-top: 5px solid #006d8F;
	border-bottom: none;
	border-left-width: 0px;
	border-right-width: 0px;
	margin-bottom: 40px;
}

.container{
	padding: 50px 65px;
}

.float{
	float: right;
	margin-top: 22px;
}

.site-logo{
	margin-left: 8px;
}

.site-logo img {
    width: 240px;
    height: 50px;
}

.desc-logo{
	font-size: 1.4em;
	font-weight: bold;
	padding-left: 10px;
	color: #006D8F;
}

.navbar-toggle{
	border: none;
}

.navbar-default .navbar-toggle .icon-bar {
  	background-color: #006d8F;
}

.navbar-toggle:hover,
.navbar-toggle:active,
.navbar-toggle:focus
{
	background:none !important;
	border-color:none !important;
}

/* carousel */

.carousel-inner > .item > img {
  min-width:100%;
  height:680px;
}

.full-width {
    width: 100%;
}

.carousel-caption {
    position: absolute;
    top: 0;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    height: 100%;
}

.desc-carousel h1{
	font-size: 4.2em;
}

#image-hidden{
	display: none;
}

/* service */

#service-session{
	background: #006d8F;
}

.bg-img{
	background: url('../image/wall.png');
	background-repeat: repeat-x;
	background-position: bottom center;
}

.we-can-help-you h1 {
    margin-bottom: 0;
    margin-top: 10px;
}

.service-section{
	padding: 80px 80px 150px 80px;
}

.title {
    padding-bottom: 30px;
}

h1{
	color: #fff;
	font-weight: bold;
}

figure img {
    height: 43px;
    width: auto;
    margin-bottom: 15px;
}
figure {
    border-bottom: 4px solid white;
}

article {
    margin-top: 10px;
}

article p{
	color: #fff;
	font-size: 16px;
	font-weight: bold;
}

.line{
	height: 6px;
	width: 40px;
	background-color: #fff;
}

/* project */

.project-section{
	padding: 0;
}

.line-project{
	height: 6px;
	width: 40px;
	background-color: #989898;
}

.wrapper-all-content-project{
	padding: 80px 65px;
}

.content-blog-home{
	padding: 80px 7px;
}

.page-project-section{
	padding: 0;
}

.thumbnail{
	background-color: #EEF2F5;
	border:none;
	padding: 0;
}

.thumbnail img{
	height: 261px;
	width: 348px;
}

.view-all-work{
	float: right;		
}

.btn-primary{
	background-color: #006d8F;
	border-color: #006d8F;
	border-radius: 0px;
	padding: 12px;
}

@keyframes bounce {
	0%, 20%, 60%, 100% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}

	40% {
		-webkit-transform: translateY(-20px);
		transform: translateY(-20px);
	}

	80% {
		-webkit-transform: translateY(-10px);
		transform: translateY(-10px);
	}
}

.btn-primary:hover{
	background-color: #006d8F;
	animation: bounce 1s;
}

.btn-info {
    color: #fff;
    background-color: #006d8F;
    border-color: none;
    padding: 12px;
    border-radius: 0px;
    width: 100%;
    display: none;
}

.btn-info:hover{
	background-color: #006d8F;
}

.btn-default {
    color: #fff;
    background-color: #fd5252;
    border: none;
    padding: 5px 10px;
}

.btn-default:hover {
  background-color: #fff;
  color: #fd5252;
  cursor: pointer;
  transition: background-color 0.3s ease-out;
}


/* blog */

.from-our-blog h1 {
    color: #999999;
}

.blog-section{
	padding: 0px 65px;
}

#blog-hidden{
	display: none;
}

.wrapper-blog-home{
	background-color: #F5F5F5;
}

.line-blog{
	height: 6px;
	width: 40px;
	background-color: #989898;
}

.thumbnail{
	margin-bottom: 20;
}

.blog-home{
	background-color: #FD5252;
}

.caption-blog h4{
	text-align: center;
	color: #fff;
}

.blog-home a img{
	height: 160px;
	min-width: 100%;
}

.blog-home-index:hover{
	animation: bounce 0.8s;
}

.blog-home a:hover{
	text-decoration: none;
}


/*footer*/

#wrapper-footer{
	background-color: #323232;
}

.title-nav h3{
	color: #fff;
}

.title-footer h3{
	padding-top: 25px;
	color: #FEE133;
}

.wrapper-nav{
	margin-top: 30px;
}

.wrapper-content-footer{
	padding: 0 15px;
}

.line-nav{
	height: 6px;
	width: 25px;
	background-color: #fff;
}

.wrapper-copyright h5{
	color: #fff;
}

.bg-img-footer{
	background-image: url('../image/footer-bg.png');
	background-repeat: repeat-x;
	background-position: bottom center;
}

.float-footer-nav{
	float: right;
}

.copy-title{
	padding-top: 40px;
}

.copy-title h5{
	margin-bottom: 0px;
	margin-top: 0px;
}

.footer-section{
	padding-bottom: 15px;padding-top: 25px;
}

.social-media-menu-class li a {
    color: #fff;
}

li.social-icon a {
	color: #fff;	
}

li.social-icon{
	padding-bottom : 10px;
}

span.fa-hidden {
    position: relative;
    left: 0;
    top: auto;
    width: 0;
    height: 0;
    overflow: auto;
    font-size: 17px;
	padding-left: 10px;
}

span.fa-hidden:hover{
	color: #FEE133;
	transition: color 0.3s ease-out;
}

.menu-footer-wp-dev-container {
    padding-top: 15px;
}

.menu-address-wp-dev-container,
.menu-useful-wp-dev-container{
	padding-top: 15px;
}

/*nav footer*/

.social-media-menu-class ul,
.office-address-menu-class ul,
.useful-menu-class ul {
	list-style-type: none;
    list-style: none;
    list-style-image: none;
}

.social-media-menu-class li,
.office-address-menu-class li,
.useful-menu-class li {
    margin-left: -41px;
    padding-bottom: 5px;
    list-style: none;
}

.social-media-menu-class li a,
.office-address-menu-class li a,
.useful-menu-class li a{
	font-size: 15px;
	color: #999;
}

.social-media-menu-class li a:hover,
.office-address-menu-class li a:hover,
.useful-menu-class li a:hover{
	color: #fff;
	text-decoration: none;
	transition: color 0.3s ease-out;
}


/*page*/

.wrap-page-title{
	background-color: #006d8F;
}

.bg-image-page{
	background: url('../image/page-bg.png');
	background-repeat: repeat-x;
	background-position: bottom center;
}

.title-page-section{
	padding: 20px 0;
}

.title-page-section h3{
	font-size: 40px;
	color: #fff;
}

.blog-page-section a img{
	height: 260px;
	min-width: 100%;
}

.btn-view-more {
    color: #fff;
    background: #fd5252;
    border: none;
    padding: 5px 8px;
    font-size: 15px;
}

.caption-blog-page h3{
	color: #323232;
}


.page-blog-bg{
	background-color: #fff;
}

.blog-page-section{
	background-color: #EEF2F5;
}

/*page service*/

.image-post-service-page img {
    width: 128px;
    height: 128px;
}

.post-image-and-text{
	padding: 100px 48px;
}

.post-image-and-text h3{
	padding-bottom: 26px;
}

.line-service{
	width: 30px;
	height: 4px; 
	background-color: #2A959F;
	margin: 0 auto;
	margin-bottom: 26px;
}

.info-grafik{
	background-color: #F2F4F5;
}


/*contact*/

.title-header-contact h2{
	color: #999;
	font-weight: 700;
	line-height: 1.25em;
	margin-top: -35px;
}

.contact-title-page p{
	color: #999;
}

.wrapper-office-address{
	background-position: center center;
	background-size: cover;
	margin-top: 50px;
}

.content-address{
	background-color: #fff;
}

.content-address p{
	color: #666; 
}

.content-address{
	color: #666;
	padding: 20px;
	font-weight: 700;
	line-height: 1.25em;
}

.content-address h3{
	margin-top: 0;
}

.image-maps img {
    width: 100%;
    height: auto;
}

.content-address a button {
    width: 100%;
    height: auto;
    margin-top: 10px;
    padding: 10px;
    background: #006d8F;
    border: none;
    color: #fff;
    font-size: 17px;
}

.content-address a button:hover{
	background: #FFE133;
	color: black;
	transition: color 0.4s ease-out;
}

.wrapper-form-contact {
	background: #006D8F;
}

.bg-img-contact{
	background-image: url('../image/contact-us.png');
	background-repeat: repeat-x;
	background-position: bottom center;
}

.entry-data {
    padding: 60px 165px;
}

.text-form-title{
	color: #fff;
	padding-top: 17px;
}

.submit-form{
	background: #fff;
	color: #006D8F;
	padding: 10px 40px;
	border: none;
	margin-top: 30px;
	font-weight: 700;
}

.submit-form:hover{
	background: #FFE133;
	transition: color 0.3s ease-out;
}

.title-form h2{
	font-weight: 700;
	margin-bottom: 20px;
	color: #fff;
}

.box-contact-desc{
	max-width: 400px;
	height: auto;
	animation: fadeAndScale 0.3s cubic-bezier(0,1.07,.72,1.42) ;
}

#wpforms-confirmation-284{
	border: none;
	margin-bottom: 0;
	background: transparent;
}

#wpforms-confirmation-284 p{
	font-size: 22px;
	color: #fff;
	text-align: center;
}

.wpforms-field-label{
	color: #fff;
	font-weight: normal;
}

#wpforms-submit-284{
	background: #fff;
	padding: 10px 20px;
	border: none;
	font-weight: bold;
	border-radius: 2px;
}

#wpforms-submit-284:hover{
	background: #FFE033;
	transition: background-color 0.3s ease-out;
}

/*about*/

.wrapper-about-page{
	background: #FFE033;
}

.bg-img-about-page{
	background: url('../image/about.png');
	background-repeat: no-repeat;
	background-position: left top;
}

.text-me h1{
	color: #333;
	font-size: 40px;
}

.about-page-section{
	padding-top: 0;
	padding-bottom: 0; 
}

.text-me{
	padding: 40px 0;
	animation: fadeAndScale 0.3s cubic-bezier(0,1.07,.72,1.42) ;
}

.wrapper-description{
	background: #fff;
}

.description-me h1, h4{
	color: #333;
	margin-bottom: 0;
	margin-top: 0;
}

.wrap-description{
	padding: 100px 0;
	animation: fadeAndScale 0.3s cubic-bezier(0,1.07,.72,1.42) ;
}

.wrapper-about-skill{
	background: url('../image/bg-about.jfif');
}

.wrap-skill-description{
	padding: 100px 0;
}

.skill-description h1{
	color: #FFE033;
}

.skill-description p{
	color: #fff;
}

.desc-end h1, p,
.skill-description h1, p{
	margin: 0;
}

.wrapper-about-end{
	background: #fff;
}

.desc-end h1, p{
	color: #333;
}

.desc-end{
	padding: 50px 15px 50px 0;
}

.me-photo img{
	width: 100%;
	height: auto;
	padding: 20px 0;
	animation: fadeAndScale 0.3s cubic-bezier(0,1.07,.72,1.42);
}

#line-about{
	height: 6px; 
	width: 45px; 
	background: #333;
}

.photo-end img{
	width: 100%;
	height: auto;
}

/*single*/

.title-single h1{
	color: #666;
	margin-top: 0px;
	margin-bottom: 0px;
}

.image-post-single img{
	width: 80%;
	height: auto;
}

.desc-post-single p{
	padding: 15px 0;
}

.wrapper-content-single-post {
    border-top: 4px solid #f0f0f0;
}

.container-single-post{
	padding-left: 80px;
	padding-right: 80px;
}
.title-single{
	padding-top: 0;
}

#date {
    padding: 10px 0;
    border-bottom: 1px solid #6666;
}

#author {
    padding-bottom: 10px;
    border-bottom: 1px solid #6666;
}

.sidebar-section {
    padding-top: 25px;
}

.sidebar ul li {
    list-style: none;
}

.sidebar ul{
	padding-left: 0;
	padding-top: 10px;
}

.sidebar ul li a:hover{
	text-decoration: none;
	color: #999;
	transition: color 0.3s ease-out;
}

/*css for javascript*/

/*hoby*/

#service-session .service-home{
	opacity: 0;
	transform: translate(-40px, 0);
	transition: 0.3s;
}

#service-session .service-home.show{
	opacity: 1;
	transform: translate(0,0);
}

/*project home*/

.work-home .work-home-page-parallax{
	opacity: 0;
	transform: translate(0, -40px);
	transition: 0.3s;
}

.work-home .work-home-page-parallax.show{
	opacity: 1;
	transform: translate(0,0);
}

/*blog home*/

.blog-home-section .front-blog{
	opacity: 0;
	transform: scale(0);
	transition: 0.3s;
}

.blog-home-section .front-blog.show{
	opacity: 1;
	transform: scale(1);
}

/*work page*/

 .work-page-post{
 	animation: fadeAndScale 0.3s cubic-bezier(0,1.07,.72,1.42) ;
 }

 /*blog page*/

.blog-page-fade{
	animation: fadeAndScale 0.3s cubic-bezier(0,1.07,.72,1.42) ;
}

.animation-service{
	animation: fadeAndScale 0.3s cubic-bezier(0,1.07,.72,1.42) ;
}

 @keyframes fadeAndScale{
 	from{
 		opacity: 0;
 		transform: scale3d(.75, .75, 1);
 	}
 	to{
 		opacity: 1;
 		transform: scale3d(1, 1, 1);
 	}
 }


/* ---------------------------------------------------- responsive --------------------------------------------------------- */

@media (min-width: 992px) and (max-width: 1199px){
	.text-me{
		padding: 30px 0;
	}
	#line-about{
		height: 6px; 
		width: 45px; 
		background: #333;
	}
	.text-me h1,
	.desc-end h1,
	.skill-description h1,
	.description-me h1 { 
    	font-size: 28px;
	}
	.wrap-skill-description,
	.wrap-description{
		padding: 60px 0;
	}
	.desc-end{
		padding: 30px 15px 30px 0;
	}
	.carousel-inner > .item > img {
  		min-width:100%;
  		height:auto;
	}

}

@media (min-width: 768px) and (max-width: 991px){
	.container{
		padding: 30px 0;
	}
	.site-logo{
		margin-left: 0;
	}
	.header-top{
		margin-bottom: 10px;
	}
	.navbar-header{
		padding-left: 13px;
	}
	.wrapper-all-content-project,
	.wrapper-all-content-service{
		padding: 0 15px;
	}
	.caption-blog-hidden {
    	padding-left: 15px;
	}
	.content-blog-home{
		padding: 30px 15px;
	}
	.title-footer h3{
		margin-top: 0px;
		padding-top: 0px;
	}
	.thumbnail{
		margin-bottom: 10px;
	}
	.post-image-and-text{
		padding: 30px 10px;
	}
	.title-header-contact h2{
		margin-left: 0px;
		padding-left: 13px;
		font-size: 30px;
	}
	.content-address{
		margin-left: 27px;
	}
	.box-contact-desc {
    	max-width: 361px;
    	height: auto;
	}
	.content-form-contact ul{
		padding-left: 0;
	}
	.entry-data{
		padding: 0 13px;
	}
	.my-desc{
		padding: 0;
	}
	.text-me{
		padding: 0;
	}
	.text-me h1 { 
    	font-size: 27px;
    	padding: 15px 0;
    	margin: 0;
	}
	#line-about{
		margin-top: 30px;
	}
	.wrap-description{
		padding: 0;
	}
	.text-me h1,
	.desc-end h1,
	.skill-description h1,
	.description-me h1 { 
    	font-size: 27px;
	}
	.description-me h4{
		font-size: 16px;
	}
	.wrap-skill-description{
		padding: 0;
	}
	.desc-end{
		padding: 30px 15px;
	}
	.end-section{
		padding: 0;
	}
	.photo-end img{
		margin-left: 0px;
	}
	.title-page-section h3{
		font-size: 30px;
	}
	.container-single-post{
		padding-left: 15px;
		padding-right: 15px;
	}
	.title-single h1{
		font-size: 30px;
	}
	.image-post-single img{
		width: 100%;
		height: auto;
	}
	.carousel-inner > .item > img {
  		min-width:100%;
  		height:auto;
	}

}


@media (max-width: 767px){
	.container{
		padding: 30px 0;
	}
	.header-top{
		margin-bottom: 10px;
	}
	.navbar-header{
		padding-left: 13px;
	}
	.site-logo img {
    	max-width: 180px;
    	max-height: 40px;
	}
	.header-menu-class li {
    	display: block;    	
	}
	.header-menu-class li a{
		font-size: 1.1em;
	}
	.float {
    	float: left;
    	margin-top: 20px;
    	padding-left: 13px;
	}
	#image-hidden{
		display: block;
	}
	.image-hidden-place img{
		width: 100%;
		height: auto;
		margin-bottom: -4px;
	}
	.wrapper-all-content-project,
	.wrapper-all-content-service{
		padding: 0 15px;
	}
	.title.we-can-help-you h1 {
    	font-size: 30px;
	}
	.projects-desc h1 {
    	font-size: 30px;
	}
	.view-all-work{
		display: none;
	}
	.btn-info{
		display: block;
	}
	.project-front img {
    	height: auto;
    	width: 100%;
	}
	.thumbnail{
		padding-bottom: 5px;
	}
	.view-all-work-hidden{
		padding-top: 20px;
	}
	.content-blog-home{
		padding: 30px 15px;
	}
	.hidden-mobile{
		display: none;
	}
	#blog-hidden{
		display: block;
	}
	.blog-home-hidden img{
		width: 120px;
		height: 80px;
		float: left;
	} 
	.box-front-blog-hidden{
		display: flex;
		background: #FD5252;
		margin-bottom: 5px;
	}
	.caption-blog-hidden {
    	padding-left: 15px;
	}
	.caption-blog-hidden h4{
		padding: 10px 0;
		margin-bottom: 0;
		margin-top: 0;
		color: #fff;
	}
	.title-footer h3{
		margin-top: 0px;
		padding-top: 0px;
	}
	.float-footer-nav {
    	float: left;
	}
	.from-our-blog h1 {
    	font-size: 30px;
	}
	.title-nav h3{
		font-size: 20px;
	}
	.thumbnail{
		margin-bottom: 10px;
	}
	.thumbnail img{
		width: 100%;
		height: auto;
	}
	.post-image-and-text{
		padding: 30px 10px;
	}
	.title-header-contact h2{
		margin-left: 0px;
		padding-left: 13px;
		font-size: 20px;
	}
	.contact-section{
		padding-bottom: 0;
	}
	.content-address{
		margin-left: 27px;
	}
	.box-contact-desc {
    	max-width: 284px;
    	height: auto;
	}
	.entry-data{
		padding: 0 13px;
	}
	.title-form h2{
		font-size: 21px;
		margin-top: 0px;
	}
	.content-form-contact ul{
		padding-left: 0;
	}
	label{
		font-size: 12px;
	}
	.text-me{
		padding: 0 13px;
	}
	.text-me h1{
		font-size: 24px;
		padding-top: 15px;
		padding-bottom: 15px;
		margin-top: 0;
	}
	.my-desc{
		padding-bottom: 0;
	}
	.wrap-description,
	.wrap-skill-description,
	.desc-end{
		padding: 0 13px;
	}
	.text-me h1,
	.desc-end h1,
	.skill-description h1,
	.description-me h1 { 
    	font-size: 24px;
	}
	.description-me h4{
		font-size: 15px;
	}
	.end-section{
		padding-top: 0;
	}
	.photo-end img{
		margin: 0;
		width: 100%;
		height: auto;
	}
	.desc-end h1{
		padding-top: 30px;
	}
	.title-page-section h3{
		font-size: 20px;
	}
	.container-single-post{
		padding-left: 15px;
		padding-right: 15px;
	}
	.title-single{
		padding-top: 0px;
	}
	.title-single h1{
		font-size: 25px;
	}
	.image-post-single img{
		width: 100%;
		height: auto;
	}
	.carousel-inner > .item > img {
  		min-width:100%;
  		height:auto;
	}
	.me-photo img{
		padding: 0;
	}


}